
{% extends 'blog/base.html' %}

{% block title %}Reset your password{% endblock %}

{% block resetpass %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        <h1>Forgotten your password?</h1>
        <p><b>Enter your e-mail address to obtain a new password.</b></p>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            {% for fm in form %}
                <b>{{fm.label_tag}} {{fm}} {{fm.errors}}</b>
            {% endfor %}
            <p><input type="submit" class="btn btn-info btn-sm mx-5" value="Submit"></p>
        </form>
        </div>
    </div>
</div>
{% endblock resetpass %}

