{% extends 'blog/base.html' %}

{% block title %}Reset your password{% endblock %}

{% block resetconfirm %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Reset your password</h1>
            {% if validlink %}
                <p><b>Enter your new password twice:</b> </p>
                <form action="" method="post" novalidate>
                    <!-- {{ form.as_p }} -->
                    {% for fm in form %}
                        <b>{{fm.label_tag}} {{fm}} {{fm.errors}}</b> <br><br>
                    {% endfor %}
                    {% csrf_token %}
                    <p><input type="submit" class="btn btn-info btn-sm" value="Change Password" /></p>
                </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has
                already been used. Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock resetconfirm %}

