{% extends 'blog/base.html' %}
{% load static %}

{% block title %} Change Password {% endblock title %}

{% block changepass %}
<div class="container">
    <div class="row">
        <div class="col-md-12 "> 
            <h4 class="alert alert-warning">Change Password</h4>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
                {% endfor %}  
            <input type="submit" class ="btn btn-success btn-sm" value="Submit">
            <a href="{% url 'editprofile' user.id %}" class="btn btn-danger btn-sm">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock changepass %}