{% extends 'blog/base.html' %}
{% load static %}

{% block title %} Services {% endblock title %}

{% block services %}
<div class="banner-main">
<div class="services_main">
    <div class="container">
            <div class="section_service_2">
                <h1 class="service_text">Our Service</h1>
            </div>
            <div class="service_main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="written_text">
                                <div class="like_icon"><img src="{% static 'blog/images/like-icon.png' %}"></div>
                                <h1 class="written_text">Content Writing Leveraging Technology</h1>
                                <p>Our custom-built platform helps select the best content writers in the automobile industry based on their previous performance. All the articles go through a 2-stage quality check process, inbuilt tools such as plagiarism and duplication check ensures you have unique content at all times. Our system conducts a 17-point quality check to be sure your quality parameters are adhered to with the highest of accuracy </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="written_text">
                                <div class="like_icon"><img src="{% static 'blog/images/fast-forword-icon.png' %}"></div>
                                <h1 class="written_text">One Pricing Model</h1>
                                <p>You pay for what you use. All articles are at 1/re per word.Text Mercato, through experience, has reasons to believe that lower payment may result in content below acceptable quality. The rates are capped to ensure that Text Mercato and team can recruit, train and manage the best of content writers to deliver consistent quality.
                                    Text Mercato leverages technology to deliver your content, this makes us better, faster and competitive in-term of pricing. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service_main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="written_text">
                                <div class="like_icon"><img src="{% static 'blog/images/design-icon.png' %}"></div>
                                <h1 class="written_text">Write creative content with professional copywriters</h1>
                                <p>As easy as it may sound, creative writing takes plenty of efforts and require a deep understanding of the subject as well as the target audience. To be able to put across your ideas, concepts and services to your prospective customers in an engaging way, one has to have a way with words. And a professional copywriter can take you along with their creative writing skills and industry experience. </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="written_text">
                              <div class="like_icon"><img src="{% static 'blog/images/writing-icon.png' %}"></div>
                                <h1 class="written_text">Work with freelance content writers who have subject expertise</h1>
                                <p>What one of the many benefits content writing agencies can provide you is a vast variety of freelance content writer who bring experience and necessary qualifications on the table. These writers can not only help you build effective content for your readers, but also share their insights on a subject and how one can improve it further. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>	  
</div>
</div>

{% endblock services %}